
 @model Demo1.Models.UserDept

@{
    ViewData["Title"] = "Create Department";
}

@section Styles {
    <link rel="stylesheet" href="~/css/create-department.css" asp-append-version="true" />
}

<div class="create-department-container">
    <h2>Create Department</h2>
    <hr />
    <div class="form-container">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter department name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <input type="submit" value="Create" class="btn btn-submit" />
            </div>
        </form>
    </div>
</div>
