@* @model IEnumerable<Demo1.Models.UserDept>

@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>DeptName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
 *@



 @model IEnumerable<Demo1.Models.UserDept>

@{
    ViewData["Title"] = "Departments";
}

@section Styles {
    <link rel="stylesheet" href="~/css/department-index.css" asp-append-version="true" />
}

<div class="departments-container">
    <h2 class="page-title">Departments</h2>

    <div class="create-department">
        <a asp-action="Create" class="btn-create">Create New Department</a>
    </div>

    <table class="custom-table">
        <thead>
            <tr>
                <th>Department Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>


