.tutor-dashboard-container {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

    .tutor-dashboard-container h2 {
        font-size: 2.2em;
        color: #2C3EC0;
        margin-bottom: 15px;
        text-align: center;
    }

.tutor-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .tutor-details h3 {
        font-size: 1.8em;
        color: #333;
        margin-bottom: 15px;
        border-bottom: 2px solid #2C3EC0;
        padding-bottom: 10px;
    }

    .tutor-details p {
        font-size: 1.1em;
        color: #555;
        line-height: 1.6;
        margin-bottom: 10px;
    }

        .tutor-details p strong {
            color: #2C3EC0;
            font-weight: 600;
        }
